%html
  %head
    %h1.title <a class="enlace" href= http://safe-shelf-2433.herokuapp.com/movies > MyRottenPotatoes </a>
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]
    = yield
    -2.times do
      %br
  %name Alvaro-Isidro Alonso-Carriazo Rodriguez

  %end
